<div class="row">

    <div class="col-lg-4 col-md-6 mb-4" style="margin-top: 70px;" ng-repeat="data in lipStickData">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" style="height:200px" alt="{{data.product_type}}" ng-src="{{data.api_featured_image}}" ></a>
        <div class="card-body">
          <h4 class="card-title">
            <a ng-href="#!{{data.product_type}}">{{data.brand.toUpperCase()}}</a>
          </h4>
          <h5>{{data.price_sign}}{{data.price}}</h5>
          <a ng-href="{{data.product_link}}" target="_blank"><button class="btn" ><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp PURCHASE
          </button></a>
          
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>


</div>